:root {
  --black: hsl(0, 0%, 0%);

  // Primary

  --softcyan: hsl(174, 77%, 80%); // (Full Slider Bar)
  --strongcyan: hsl(174, 86%, 45%); // (Slider Backround)
  --lightgrayishred: hsl(14, 92%, 95%); // (Discount Background)
  --lightred: hsl(15, 100%, 70%); // (Discount Text)
  --paleblue: hsl(226, 100%, 87%); // (CTA Text)

  // Neutral

  --white: hsl(0, 0%, 100%); // (Pricing Component Background)
  --verypaleblue: hsl(230, 100%, 99%); // (Main Background)
  --lightgrayishblue: hsl(224, 65%, 95%); // (Empty Slider Bar)
  --lightgrayishblue2: hsl(223, 50%, 87%); // (Toggle Background)
  --grayishblue: hsl(225, 20%, 60%); // (Text)
  --darkdesaturatedblue: hsl(227, 35%, 25%); // (Text & CTA Background)
}
